:root {
  --primary: #a8a5c3;
  --primary-dark: #817e9e;
  --primary-lite: #b2b2b2;
  --primary-semidark: #7b609d;
  --hover: #f2f2f5;
  --grey: #eeedf2;
  --dark: #3b3a43;
  --font-primary: #2c2c2c;
  --font-dark: #515151;
  --primary-font: #2c2c2c;
  --separator: #e2e2e2;
  --border: #b2b2b2;
  --border-dark: #838383;
  --hint: #acacac;
  --red: #c72727;
  --green: #56b460;
}